
<h1>Airports</h1>
<div> {{airports}}</div>
<br>
<h1>Routes</h1>
<h4 *ngFor="let route of routes">{{route}}</h4>
<h1>Graph</h1> 
<div *ngFor="let item of logList | keyvalue">
 {{item | json}}
</div>
<br>
<h1>BFS</h1>
<br>
Airport:<input type="text" [(ngModel)]="airPortName">  Find How Many Connections: <input type="text"  [(ngModel)]="destinationLoc">
<br><br>
<button type="button" style="color: blue;font-size: 14px;height: 30px;" (click)="bfs()">BFS Algo</button>

{{airPortName}} - {{destinationLoc}}
<br>

<h1># Connections Founds For {{destinationLoc}}</h1>
# {{foundConnections.length}}
